.mantine-Input-input{

    text-align: center;



}


.mantine-Select-input{

    text-align: center;

   



}

label{

    font-size: small;
    font-weight: 600;
    color: rgb(45, 72, 73);
    

}





.mantine-Text-root{


    font-weight: bold;

}


.mantine-1m3pqry{

    line-height: normal;

}


.mantine-3rxyez{

    padding: 0%;
}


.mantine-eo94lg{

text-align: center;

}

.mantine-a0k4pp{

text-align: center;
}

body{

    display:block;

}

.mantine-11c6hkg{

    color:burlywood;
    font-weight: lighter;

}


.mantine-1ffbv5q{

    color:#d8e4ef;
    font-weight: normal;


}



.mantine-861gfc .__mantine-ref-stepIcon{

    background-color: darkturquoise;
    border-color: darkturquoise;
}